In [1]:
import pandas as pd
import string
import nltk

In [4]:
df=pd.read_csv('sms.csv')

ParserError: Error tokenizing data. C error: Expected 2 fields in line 12, saw 4

In [ ]:
df.head()

In [4]:
df['label'] = df['label'].astype('category')
df['label'] = df['label'].cat.codes
df['label']

0       1
1       1
2       0
3       1
4       1
       ..
6415    0
6416    0
6417    0
6418    0
6419    1
Name: label, Length: 6420, dtype: int8

In [5]:
y=df['label']

In [6]:
df.drop(['label','id' ], axis=1, inplace=True)

In [7]:
df.head()

                                               tweet
0  The CDC currently reports 99031 deaths. In gen...
1  States reported 1121 deaths a small rise from ...
2  Politically Correct Woman (Almost) Uses Pandem...
3  #IndiaFightsCorona: We have 1524 #COVID testin...
4  Populous states can generate large case counts...

In [8]:
## Convert to lowercase
df['clean_tweet'] = df['tweet'].str.lower()
df.head(2)

,tweet,clean_tweet
0,The CDC currently reports 99031 deaths. In gen...,the cdc currently reports 99031 deaths. in gen...
1,States reported 1121 deaths a small rise from ...,states reported 1121 deaths a small rise from ...

In [9]:
#  Punctuations
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [10]:
def rm_punc(z):
    if not isinstance(z, str):  
        z = ""  
    punctuations = string.punctuation
    return z.translate(str.maketrans('', '', punctuations))

In [11]:
df['clean_tweet'] = df['clean_tweet'].apply(lambda y: rm_punc(y))
df.head()

,tweet,clean_tweet
0,The CDC currently reports 99031 deaths. In gen...,the cdc currently reports 99031 deaths in gene...
1,States reported 1121 deaths a small rise from ...,states reported 1121 deaths a small rise from ...
2,Politically Correct Woman (Almost) Uses Pandem...,politically correct woman almost uses pandemic...
3,#IndiaFightsCorona: We have 1524 #COVID testin...,indiafightscorona we have 1524 covid testing l...
4,Populous states can generate large case counts...,populous states can generate large case counts...

In [12]:
# Stopwords
from nltk.corpus import stopwords

In [13]:
STOPWORDS = set(stopwords.words('english'))
def rm_sw(x):
    return " ".join([word for word in x.split() if word not in STOPWORDS])

In [14]:
df['clean_tweet'] = df['clean_tweet'].apply(lambda y: rm_sw(y))
df.head()

,tweet,clean_tweet
0,The CDC currently reports 99031 deaths. In gen...,cdc currently reports 99031 deaths general dis...
1,States reported 1121 deaths a small rise from ...,states reported 1121 deaths small rise last tu...
2,Politically Correct Woman (Almost) Uses Pandem...,politically correct woman almost uses pandemic...
3,#IndiaFightsCorona: We have 1524 #COVID testin...,indiafightscorona 1524 covid testing laborator...
4,Populous states can generate large case counts...,populous states generate large case counts loo...

In [15]:
# remove_url
import re
def rm_url (x):
    text = re.sub(r'https?://\s+|www\.\s+',  '', x)
    
    return x

In [16]:
df['clean_tweet'] = df['clean_tweet'].apply(lambda y: rm_url(y))
df.head()

,tweet,clean_tweet
0,The CDC currently reports 99031 deaths. In gen...,cdc currently reports 99031 deaths general dis...
1,States reported 1121 deaths a small rise from ...,states reported 1121 deaths small rise last tu...
2,Politically Correct Woman (Almost) Uses Pandem...,politically correct woman almost uses pandemic...
3,#IndiaFightsCorona: We have 1524 #COVID testin...,indiafightscorona 1524 covid testing laborator...
4,Populous states can generate large case counts...,populous states generate large case counts loo...

In [17]:
# Remove Special characters

def rm_spl_char(x):
    x = re.sub('[^a-zA-Z0-9]', ' ', x)
    x = re.sub('\s+', ' ', x)
    return x

In [18]:
df['clean_tweet'] = df['clean_tweet'].apply(lambda y: rm_spl_char(y))
df.head()

,tweet,clean_tweet
0,The CDC currently reports 99031 deaths. In gen...,cdc currently reports 99031 deaths general dis...
1,States reported 1121 deaths a small rise from ...,states reported 1121 deaths small rise last tu...
2,Politically Correct Woman (Almost) Uses Pandem...,politically correct woman almost uses pandemic...
3,#IndiaFightsCorona: We have 1524 #COVID testin...,indiafightscorona 1524 covid testing laborator...
4,Populous states can generate large case counts...,populous states generate large case counts loo...

In [19]:
# Stemming

from nltk.stem.porter import PorterStemmer
PorterStemmer = PorterStemmer()
def stemming(x):
    return " ".join([PorterStemmer.stem(word) for word in x.split()])

In [20]:
df['stemmed_tweet'] = df['clean_tweet'].apply(lambda y: stemming(y))
df.head()

,tweet,clean_tweet,stemmed_tweet
0,The CDC currently reports 99031 deaths. In gen...,cdc currently reports 99031 deaths general dis...,cdc current report 99031 death gener discrep d...
1,States reported 1121 deaths a small rise from ...,states reported 1121 deaths small rise last tu...,state report 1121 death small rise last tuesda...
2,Politically Correct Woman (Almost) Uses Pandem...,politically correct woman almost uses pandemic...,polit correct woman almost use pandem excus re...
3,#IndiaFightsCorona: We have 1524 #COVID testin...,indiafightscorona 1524 covid testing laborator...,indiafightscorona 1524 covid test laboratori i...
4,Populous states can generate large case counts...,populous states generate large case counts loo...,popul state gener larg case count look new cas...

In [21]:
# Lemmatizing
from nltk import pos_tag
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

WordNetLemmatizer =WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V":wordnet.VERB, "J":wordnet.ADJ, "R":wordnet.ADV}

def lemmatize(x):
    # find pos tags
    pos_text = pos_tag(x.split())
    return " ".join([WordNetLemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_text])

In [22]:
df['lemmatized_tweet'] = df['clean_tweet'].apply(lambda y: lemmatize(y))
df.head()

,tweet,clean_tweet,stemmed_tweet,lemmatized_tweet
0,The CDC currently reports 99031 deaths. In gen...,cdc currently reports 99031 deaths general dis...,cdc current report 99031 death gener discrep d...,cdc currently report 99031 death general discr...
1,States reported 1121 deaths a small rise from ...,states reported 1121 deaths small rise last tu...,state report 1121 death small rise last tuesda...,state report 1121 death small rise last tuesda...
2,Politically Correct Woman (Almost) Uses Pandem...,politically correct woman almost uses pandemic...,polit correct woman almost use pandem excus re...,politically correct woman almost use pandemic ...
3,#IndiaFightsCorona: We have 1524 #COVID testin...,indiafightscorona 1524 covid testing laborator...,indiafightscorona 1524 covid test laboratori i...,indiafightscorona 1524 covid test laboratory i...
4,Populous states can generate large case counts...,populous states generate large case counts loo...,popul state gener larg case count look new cas...,populous state generate large case count look ...

In [23]:
total_word_count = 0
for content in df['lemmatized_tweet']:
    total_word_count += sum(1 for _ in content.split())
print(total_word_count)

112614

In [24]:
# Tagging Parts of Speech

from nltk.tokenize import word_tokenize

def tokenize_text(x):
    return word_tokenize(x)

tok = df['lemmatized_tweet'].apply(lambda y: tokenize_text(y))

In [25]:
def apply_pos_tagging(tokens):
    return pos_tag(tokens)

tps= tok.apply(lambda y: apply_pos_tagging(y))

print(tps)

0       [(cdc, NNS), (currently, RB), (report, VBP), (...
1       [(state, NN), (report, NN), (1121, CD), (death...
2       [(politically, RB), (correct, JJ), (woman, NN)...
3       [(indiafightscorona, NN), (1524, CD), (covid, ...
4       [(populous, JJ), (state, NN), (generate, NN), ...
                              ...
6415    [(tiger, NN), (test, NN), (positive, JJ), (cov...
6416    [(autopsy, NN), (prove, VB), (covid19, NN), (b...
6417    [(post, NN), (claim, NN), (covid19, NN), (vacc...
6418    [(aamir, RB), (khan, VB), (donate, NN), (250, ...
6419    [(93, CD), (day, NN), (since, IN), (last, JJ),...
Name: lemmatized_tweet, Length: 6420, dtype: object

In [26]:
# Named-Entity Recognition

import spacy
nlp = spacy.load("en_core_web_sm")
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [27]:
import spacy

In [28]:
nlp = spacy.load("en_core_web_sm")
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [29]:
def entities(x):
    doc = nlp(x)
    entities = [(ent.text, ent.label_) for ent in doc.ents]
    return entities

ndr = df['lemmatized_tweet'].apply(entities)

print(ndr)

0       [(cdc, ORG), (99031, CARDINAL), (roughly 10000...
1       [(1121, DATE), (last tuesday, DATE), (southern...
2           [(httpstcothf8gunfpe, GPE), (nashville, GPE)]
3       [(indiafightscorona 1524, ORG), (india, GPE), ...
4       [(today, DATE), (9, CARDINAL), (california, GP...
                              ...
6415                                  [(covid19, PERSON)]
6416                                  [(covid19, PERSON)]
6417                                  [(covid19, PERSON)]
6418            [(aamir khan, PERSON), (250 cr pm, TIME)]
6419    [(93 day, DATE), (covid19, PERSON), (covid19 n...
Name: lemmatized_tweet, Length: 6420, dtype: object

In [30]:
# Dependency Parsing
def dependencies(x):
    doc = nlp(x)
    dependencies = [(token.text, token.dep_, token.head.text) for token in doc]
    return dependencies

par = df['lemmatized_tweet'].apply(lambda y: dependencies(y))

print(par)

0       [(cdc, nsubj, report), (currently, advmod, rep...
1       [(state, compound, report), (report, nmod, ris...
2       [(politically, advmod, correct), (correct, amo...
3       [(indiafightscorona, nmod, laboratory), (1524,...
4       [(populous, amod, state), (state, nsubj, gener...
                              ...
6415    [(tiger, compound, test), (test, nmod, covid19...
6416    [(autopsy, nsubj, prove), (prove, compound, pa...
6417    [(post, compound, claim), (claim, compound, va...
6418    [(aamir, compound, khan), (khan, nsubj, donate...
6419    [(93, nummod, day), (day, npadvmod, acquire), ...
Name: lemmatized_tweet, Length: 6420, dtype: object

In [31]:
# Rule-Based Matching 
from spacy.matcher import Matcher
match = Matcher(nlp.vocab)
pattern = [{'LOWER': 'covid19'}]
match.add("covid19Pattern", [pattern])

In [32]:
def matching(x):
    doc = nlp(x)
    matches = match(doc)
    matched_tokens = [doc[start:end].text for match_id, start, end in matches]
    return matched_tokens

m = df['lemmatized_tweet'].apply(lambda y: matching(y))

print(m)

0                       []
1                       []
2                       []
3                       []
4                       []
               ...
6415             [covid19]
6416             [covid19]
6417             [covid19]
6418                    []
6419    [covid19, covid19]
Name: lemmatized_tweet, Length: 6420, dtype: object

In [33]:
X=df['lemmatized_tweet']

In [34]:
# Vectorization tf_idf
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

In [35]:
X = tfidf.fit_transform(X)

In [36]:
# split
from sklearn.model_selection import train_test_split
X_train , X_test , Y_train , Y_test  = train_test_split(X, y, test_size = 0.2 ,  random_state = 42)

In [37]:
# Model
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

In [38]:
model = SVC()
model.fit(X_train, Y_train)

Y_pred = model.predict(X_test)

accuracy = accuracy_score(Y_test, Y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.910436137071651